@import 'common';
@include MobileScreen {
  :host {
    .typer{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 9%;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      p{
        @include textStyle(30px, 21px, var(--secondry-font), var(--c-font-1), 600);
        font-family: "29LT Ada Flat", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
        margin: 3rem auto 1rem auto;
        text-align: center;
      }
    }
  }
}

@include DesktopScreen {
  :host{
    .typer{
      p{
        font-size: 60px;
      }
    }
  }
}
