<ng-container *ngIf="isMobileScreen">
  <div class="product-card" *ngFor="let product of products$ |async as products">
    <div class="right__part">
      <div class="product_name">
        <h2>{{product.productArName}}</h2>
        <p>{{product.productEnName}}</p>
      </div>
      <div class="product_category">
        <span>{{product.category}}</span>
      </div>
      <div class="product_status">
        <svg>
          <use href="#status-A"></use>
        </svg>
        <span>{{getProductStatus(product.status)}}</span>
      </div>
    </div>
    <div class="left__part">
      <div class="product_img">
        <img src="../../../../../assets/images/products/tiger.jpeg" alt="product_img">
      </div>
      <div class="btn" (click)="showDetails(product)">
        <span>التفاصيل</span>
        <svg>
          <use href="#eye"></use>
        </svg>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isMobileScreen">
  <div class="product__row-card">
    <table>
      <thead>
        <tr>
          <th>اسم المنتج</th>
          <th>الإسم بالإنجليزية</th>
          <th>التصنيف</th>
          <th>الصورة</th>
          <th>الحالة</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products$ |async as products">
          <td class="product__row-ar">{{product.productArName}}</td>
          <td>{{product.productEnName}}</td>
          <td>
            <div><span>{{product.category}}</span></div>
          </td>
          <td>
            <div><img src="../../../../../assets/images/products/tiger.jpeg" alt="product_img"></div>
          </td>
          <td>
            <div class="product_status">
              <svg>
                <use href="#status-A"></use>
              </svg>
              <span>{{getProductStatus(product.status)}}</span>
            </div>
          </td>
          <td>
            <div (click)="showDetails(product)">
              <span>التفاصيل</span>
              <svg><use href="#eye"></use></svg>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
