// $secondry-font:"29LT Ada Flat",system-ui,Avenir,Helvetica,Arial,sans-serif;
:root{
  //fonts
  // --secondry-font: '29LTAdaFlat-Bold' ,system-ui,Avenir,Helvetica,Arial,sans-serif;
  --primary-font: 'Rubik', sans-serif;

  //colors
  --bg-color:#1a1a1a;
  --c-font-1:#efece0;
  --c-font-2:#9f9d98;
  --c-green:#9bc880;
  --c-green-active:#07f21e;
  --c-gray-1:#202020;
  --c-gray-2:#313131;
  --c-gray-3:#393939;
  --c-gray-4:#494945;
  --c-action:#ec543f;
  --c-action-2:#e5553c41;
  --c-stroke-gray:#403f36;
  --c-offwhite: #777671;
  --c-offwhite-accent: #b8b7adff;
  --c-input-floating-bg:#262626ff;
  --c-error:#e94444;
  --c-outlined:#ff7032;

  //Dashbord Colors:

}
