@import 'common';

@include MobileScreen {
  :host {
    section {
      width: 100%;
      color: #fff;
      .container {
        width: 95%;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
        .title{
        @include textStyle(35px,21px,var(--secondry-font),var(--c-font-1), 600);
        font-family: "29LT Ada Flat",system-ui,Avenir,Helvetica,Arial,sans-serif !important;
        margin: 3rem auto 1rem auto;
        }
        p{
        @include textStyle(16px,1.5,var(--primary-font),var(--c-font-1), 400);
        }
      }
    }
  }
}

@include tabletScreen {
  :host {
    section {
      .container{
        width: 70%;
      }
    }
  }
}


@include DesktopScreen {
  :host {
    section {
      .container{
        width: 70%;
      }
    }
  }
}


@include MediumDesktopScreen {
  :host {
    section {
      .container{
        width: 45%;
      }
    }
  }
}


@include LargeDesktopScreen {
  :host {
    section {
      .container{
        width: 36%;
        max-width: 600px;
        .title{
          font-size: 64px;
          margin: 3rem auto 2rem auto;
        }
        p{
          margin-top: 3rem;
        }
      }
    }
  }
}

