<div class="prodect__details">
  <div class="container">
    <div class="box_header">
      <div class="product_info">
        <h3>جاجوار</h3>
        <p>Jaguar</p>
      </div>
      <div class="close_icon">
        <svg><use href="#close-icon"></use></svg>
      </div>
    </div>
    <div class="box_body">
      <div class="top-content">
        <div class="img-box">
          <img src="../../../../../../assets/images/products/tiger.jpeg" alt="product img">
        </div>
        <div class="product-info">
          <div class="product__status">
            <svg><use href="#status-A"></use></svg>
            <span>{{getProductStatus('boycott')}}</span>
          </div>
          <div class="product__company">
            <h3>المُنتِج</h3>
            <p>Keet Natural Food</p>
          </div>
        </div>
      </div>
      <div class="bottom-content">
        <h3>الدليل</h3>
        <p>منتج محلي او عالمي لم نجد دليل بمساهمة إنتاجه مع الكيان الصهيوني.</p>
      </div>
    </div>
    <div class="box_footer">
      <div class="share-btn">
        <span>شارِك المُنتَج</span>
        <svg><use href="#share"></use></svg>
      </div>
    </div>
  </div>
</div>
