<section>
  <div class="container">
    <h2 class="title">أضِف مُنْتَج لِبَديل</h2>
    <p>برجاء العلم ان تقديمك لهذا الإستبيان لا يضمن أن يتم إدراج المُنتج او الشركة التي قمت بإضافتها. فريق بديل يقوم
      بمراجعة جميع الأدلة بدرجة عالية من الإهتمام ومن الممكن أن يكون الدليل المُقدَّم غير كافي. تقع على عاتُقنا مسؤولية
      كبيرة أمام اللُّه ومستخدمين بديل ولذلك نتوخى الحذر قبل إضافة أي مُنتَج. شكراً لتفهمِكم.
    </p>

    <div>
      @if (true) {
      <s></s>
      } @else {
      <span></span>
      }
    </div>

    <div class="form_box">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit($event)">
        <label for="status">حالة المنتج:</label>
        <fieldset id="status">
          <div
            *ngFor="let option of [{arName:'داعم',EnName:'boycott'},{arName:'بديل',EnName:'alternative'},{arName:'غير متأكد',EnName:'unsure'}]">
            <input type="radio" [id]="option.EnName" [value]="option.EnName" formControlName="status">
            <label [for]="option.EnName">{{ option.arName }}</label>
          </div>
        </fieldset>
        <div class="form__filed">
          <label for="">إسم المنتج بالعربية :</label>
          <input type="text" formControlName="productArName" placeholder="مثال: كوكاكولا"
            [ngClass]="productForm.get('productArName')?.hasError('minlength') ? 'error-border' : ''">
          <span class="error-input" *ngIf="productForm.get('productArName')?.hasError('minlength')">
            الحد الأدنى لإسم المنتج 3 أحرف
          </span>
        </div>
        <div class="form__filed">
          <label for="">إسم المنتج بالإنجليزية :</label>
          <input type="text" formControlName="productEnName" placeholder="مثال: Cocacola"
            [ngClass]="productForm.get('productEnName')?.hasError('minlength') ? 'error-border' : ''">
          <span class="error-input" *ngIf="productForm.get('productEnName')?.hasError('minlength') ">
            الحد الأدنى لإسم المنتج 3 أحرف
          </span>
        </div>
        <div class="form__filed">
          <label for=""> الشركةالمصنعة :</label>
          <input type="text" formControlName="company" placeholder="الشركة المصنعة أو المالكة"
            [ngClass]="productForm.get('company')?.hasError('minlength') ? 'error-border' : ''">
          <span class="error-input" *ngIf="productForm.get('company')?.hasError('minlength') ">
            الحد الأدني لإسم الشركة 3 أحرف
          </span>
        </div>
        <div class="form__filed filed__two-row">
          <div class="row">
            <label for=""> الفئة :</label>
            <select formControlName="category" id="pet-select"  (change)="handleMainCategorySelection($event)">
              <option value=""> --اختر الفئة-- </option>
              <option *ngFor="let category of categories"  [value]="category.catEnName">{{category.catArName}}</option>
            </select>
          </div>
          <div class="row">
            <label for=""> النوع :</label>
            <select formControlName="subCategory" id="pet-select" (change)="handleMainCategorySelection($event)">
              <option value=""> --اختر النوع-- </option>
              <option *ngFor="let subCategory of subCategories"  [value]="subCategory">{{subCategory}}</option>
            </select>
          </div>
        </div>
        <div class="form__filed">
          @if (statusInput === 'boycott') {
          <label for=""> الدليل :</label>
          } @else {
          <label for=""> التفاصيل :</label>
          }
          <textarea formControlName="details" cols="30" rows="2"></textarea>
        </div>
        <input type="hidden" formControlName="id">
        <button type="submit">إرسال</button>
      </form>
    </div>
  </div>
</section>
