@import 'common';

:host{
  direction: ltr;
  width: 100%;
}
section{
  // background: var(--dsh-bg-color);
  background: var(--dsh-second-bg-color);
  min-height: 100vh;
  padding: 1.5rem;
  border-radius: 6px;
}

