@import "variables";
@import "mixins";
@import "fonts";




.list-scroll {
  margin-top: 15px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100vw;
  padding-right: 25px;

  >* {
    list-style: none;
    padding: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    vertical-align: top;
    overflow: hidden;
  }
}

.error-input{
  @include textStyle(15px, 21px, var(--secondry-font), var(--c-error), 400);
  position: absolute;
  bottom: -24px;
  right: 0%;
}

.error-border{
  border: 1px solid var(--c-error) !important;
}




