<app-filter-popup (onFilter)="filter($event)" *ngIf="popupService.openFilter | async"></app-filter-popup>
<section class="homepagee__section">
  <app-intro (onProductsFiltered)="updateSearchResults($event)"></app-intro>
  <app-active-filter></app-active-filter>
  <app-product-details-popup *ngIf="selectedProduct" [selectedProduct]="selectedProduct" (onClose)="closePopup()"></app-product-details-popup>
  <section class="products__container" *ngIf="products$ | async as products">
    <ng-container *ngIf="currentViewType == 'grid'">
      @for(product of products; track product){
      <app-product-grid-card [product]="product" (onSelectProduct)="getProductDetails($event)"></app-product-grid-card>
      }@empty {
        <app-spinner></app-spinner>
      }
    </ng-container>
    <ng-container *ngIf="currentViewType== 'table'">
      <app-product-row-card [products]="products" (onSelectProduct)="getProductDetails($event)" [isMobileScreen]="isMobileScreen"></app-product-row-card>
    </ng-container>
  </section>
  <div class="more__btn">إعرض أكثر</div>
</section>
