<section>
  <div class="filter_icons">
    <div class="text" (click)="openFilterPopup()">
      <svg>
        <use href="#filter_icon"></use>
      </svg>
      <span>الترتيب والأقسام</span>
    </div>
    <div class="icons">
      <svg (click)="toggleClick('table')" [attr.aria-pressed]="(currentViewMood$ | async) === 'table'">
        <use href="#table_icon"></use>
      </svg>
      <svg (click)="toggleClick('grid')" [attr.aria-pressed]="(currentViewMood$ | async) === 'grid'">
        <use href="#grid_icon"></use>
      </svg>
    </div>
  </div>
  <div class="active__filter_tags">
    <div class="active__item">
      <span>الحالة:</span>
      <span class="bold">داعم</span>
      <svg><use href="#close-icon"></use></svg>
    </div>
    <div class="active__item">
      <span>الشركات:</span>
      <span class="bold">تكنولوجيا</span>
      <svg><use href="#close-icon"></use></svg>
    </div>
    <div class="active__item">
      <span>الحالة:</span>
      <span class="bold">داعم</span>
      <svg><use href="#close-icon"></use></svg>
    </div>
    <div class="active__item">
      <span>الحالة:</span>
      <span class="bold">داعم</span>
      <svg><use href="#close-icon"></use></svg>
    </div>
  </div>
</section>
