<div class="product-card">
  <div class="right__part">
    <div class="product_name">
      <h2>تايجر</h2>
      <p>Tiger</p>
    </div>
    <div class="product_category">
      <span>رقائق</span>
    </div>
    <div class="product_status">
      <svg><use href="#status-A"></use></svg>
      <span>بديل</span>
    </div>
  </div>
  <div class="left__part">
    <div class="product_img">
      <img src="../../../../../assets/images/products/tiger.jpeg" alt="product_img">
    </div>
    <div class="btn">
      <span>التفاصيل</span>
      <svg><use href="#eye"></use></svg>
    </div>
  </div>
</div>
