/* You can add global styles to this file, and also import other style files */
@import './assets/style/general/common.scss';
@import 'ngx-toastr/toastr';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        all: unset;
    }
}

/* Width and height of the scrollbar */
html {
  scrollbar-width: 2px;
  scrollbar-color: var(--c-gray-1) var(--c-gray-4);
  scrollbar-width: thin;
  border-radius: 20px;
  scroll-behavior: smooth;
}


html,
body {
  height: 100%;
  font-family: var(--primary-font);
  background: var(--bg-color);
  direction: rtl;
}


// Toast
.toast-success,
.toast-error{
  color: #fff;
  font-family: var(--primary-font);
}

.toast-error{
  background-color: var(--c-error) !important;
}



