<div class="filter" @fadeInRight>
  <div class="container">
    <div class="filter__header">
      <p>الأقسام والترتيب</p>
      <div>
        <span (click)="resetFilter()">إلغاء التصفية</span>
        <svg (click)="closeFilterPopup()"><use href="#close-icon"></use></svg>
      </div>
    </div>
    <form [formGroup]="filterForm" class="filter__content" >
      <div class="category__section">
        <div class="cat-col">
          <h3 class="active">القسم</h3>
          <select id="pet-select"
          formControlName="category"
          (change)="handleCategorySelection($event)"
            class="custome-arrow"
          >
            <option value="no_select"> --اختر الفئة-- </option>
            <option *ngFor="let category of categories" [value]="category.catEnName">{{category.catArName}}</option>
          </select>
        </div>
        <div class="subCat-col" *ngIf="showSubCategories" @fadeIn>
          <h3>النوع</h3>
          <div formArrayName="subCategories">
            <div *ngFor="let sub of subCategories; let i = index">
              <label>
                <input type="checkbox" [formControlName]="i" [value]="sub.subCatArName">
                {{ sub }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="status__section">
        <h3>الحالة</h3>
        <div formArrayName="status" >
          <div *ngFor="let option of statusOptions; let i = index" [ngStyle]="{ 'display':'flex', 'align-items': 'center' , 'gap':'0.5rem' }">
            <input type="checkbox" [formControlName]="i" [id]="option.EnName" [value]="option.EnName">
            <label [for]="option.EnName">{{ option.arName }}</label>
          </div>
        </div>
      </div>
    </form>
    <div class="filter__footer" (click)="filter()">
      <button type="submit" >إعرض النتائج</button>
    </div>
  </div>
</div>
