@import 'common';

.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  backdrop-filter: blur(5px);

  .container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 90%;
    background: var(--bg-color);
    border-left: 1px solid var(--c-gray-3);
    text-align: right;

    .filter__header {
      height: 56px;
      border-bottom: 1px solid var(--c-gray-3);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;

      p {
        @include textStyle(17px, 1.5, var(--primary-font), var(--c-font-1), 600);

      }

      &>div {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
          @include textStyle(16px, 1.5, var(--primary-font), var(--c-outlined), 400);
          text-decoration: underline;
          cursor: pointer;
        }

        svg {
          width: 18px;
          height: 18px;
          color: var(--c-font-1);
        }
      }
    }

    .filter__content {
      height: calc(100% - (56px + 56px));
      padding: 1rem;

      .category__section {
        border-bottom: 1px solid var(--c-gray-3);
        padding-bottom: 1rem;

        .cat-col {
          h3 {
            @include textStyle(16px, 1.5, var(--primary-font), var(--c-font-1), 400);
            position: relative;

            &.active::after {
              content: '';
              position: absolute;
              top: 50%;
              right: 14%;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: var(--c-action);
            }
          }

          select {
            @include FormInput;
            font-size: 15px;
            color: var(--c-font-1);

            option {
              background-color: var(--c-gray-1);
            }
          }
        }

        .subCat-col{
          margin-top: 1.5rem;

          h3 {
            @include textStyle(16px, 1.5, var(--primary-font), var(--c-font-1), 400)
          }

          &>div {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin: 0.5rem 0;

            input[type=checkbox] {
              width: 30px;
              height: 30px;
              accent-color: var(--c-input-floating-bg);
            }

            label {
              @include textStyle(17px, 1.5, var(--primary-font), var(--c-font-1), 400);
            }
          }
        }
      }
      .status__section{
        border-bottom: 1px solid var(--c-gray-3);
        margin-top: 1.5rem;
        padding-bottom: 1rem;
        h3 {
          @include textStyle(16px, 1.5, var(--primary-font), var(--c-font-1), 400)
        }

        &>div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin: 0.5rem 0;

          input[type=checkbox] {
            width: 30px;
            height: 30px;
            accent-color: var(--c-input-floating-bg);
          }

          label {
            @include textStyle(17px, 1.5, var(--primary-font), var(--c-font-1), 400);
          }
        }
      }
    }

    .filter__footer {
      height: 56px;

      button {
        width: 100%;
        height: 100%;
        background: transparent;
        border: 1px solid var(--c-outlined);
        @include textStyle(18px, 1.5, var(--primary-font), var(--c-font-1), 600);
      }

      &::before {
        content: '';
        background: linear-gradient(0deg, #202020 0%, rgba(32, 32, 32, 0) 100%);
        width: 100%;
        height: 58px;
        position: absolute;
        bottom: 9%;
      }
    }
  }
}


@include DesktopScreen {
  :host {
    .filter {
      .container {
        width: 350px;
        height: 100%;
      }
    }
  }
}
