<section>
  <div class="head">
    <div class="logo">
      <img src="../../../../../assets/images/badeel-logo.png" alt="logo" />
    </div>
  </div>
  <div class="container">
    <div [@slideInRight]="rightState" class="right">
      <div class="form-box">
        <h2>Welcome to Badeel dashbord</h2>
        <form [formGroup]="loginForm">
          <div class="form-field">
            <input type="email" formControlName="email" placeholder="email">
          </div>
          <div class="form-field">
            <input type="password" formControlName="password" placeholder="password">
          </div>
          <button (click)="login($event)">Sign in</button>
        </form>
        <div class="foot">
          <p>Or sign up with</p>
          <div>
            <img src="../../../../../assets/images/sign-google.png"
              alt="sign-google">
            <img src="../../../../../assets/images/sign-lark.png"
              alt="sign-lark">
          </div>
        </div>
      </div>
    </div>
    <div [@fadeIn]="leftState" class="left">
      <div class="text-box">
        <h2>Design + Collaboration, all in Mockplus</h2>
        <p>
          A virtual center for designers, devs, PMs, and all design parties to
          perform their duties in unison. At least 200% faster with Mockplus.
        </p>
      </div>
    </div>
  </div>

</section>
