<section>
  <div class="head">
    <div class="logo">
      <img src="../../../../../assets/images/badeel-logo.png" alt="logo" />
    </div>
  </div>
  <div class="form-box">
    <h2>Welcome to Badeel dashbord</h2>
    <form>
      <diV class="form-field">
        <input type="email" placeholder="email">
      </diV>
      <diV class="form-field">
        <input type="password" placeholder="password">
      </diV>
      <button>Sign in</button>
    </form>
    <div class="foot">
      <p>Or sign up with</p>
      <div>
        <img src="../../../../../assets/images/sign-google.png" alt="sign-google">
        <img src="../../../../../assets/images/sign-lark.png" alt="sign-lark">
      </div>
    </div>
  </div>
</section>
